* {
  box-sizing: border-box;
  color: rgb(132, 108, 86);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(132, 108, 86);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(132, 108, 86);
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(10px);
  background-color: rgb(48, 48, 48);
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  background: url("../images/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
}

@media screen and (min-width: 0px) {
  .buttons, #user-textareas textarea, #select-option, #alert-box, #header-container {
    backdrop-filter: blur(10px);
    background-color: rgba(31, 31, 31, 0.249);
    box-shadow: 0px 0px 5px 0px rgb(132, 108, 86);
  }
  #user-buttons, #main-container, #alert-box, #header-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #header-container {
    height: 100px;
    width: 100%;
  }
  #header-container h1 {
    animation: fontChange 10s infinite ease-in-out;
    font-size: 30px;
    text-shadow: 0 2px 3px rgb(0, 0, 0);
  }
  @keyframes fontChange {
    10% {
      font-family: "Font 1";
    }
    20% {
      font-family: "Font 2";
    }
    30% {
      font-family: "Font 3";
    }
    40% {
      font-family: "Font 4";
    }
    50% {
      font-family: "Font 5";
    }
    60% {
      font-family: "Font 6";
    }
    70% {
      font-family: "Font 7";
    }
    80% {
      font-family: "Font 8";
    }
    90% {
      font-family: "Font 9";
    }
  }
  @font-face {
    font-family: "Font 1";
    src: url("../fonts/Antology.ttf");
  }
  @font-face {
    font-family: "Font 2";
    src: url("../fonts/Catherina.otf");
  }
  @font-face {
    font-family: "Font 3";
    src: url("../fonts/Duckname.ttf");
  }
  @font-face {
    font-family: "Font 4";
    src: url("../fonts/Farmers Market.ttf");
  }
  @font-face {
    font-family: "Font 5";
    src: url("../fonts/InkVerse.ttf");
  }
  @font-face {
    font-family: "Font 6";
    src: url("../fonts/Miracle Dream.ttf");
  }
  @font-face {
    font-family: "Font 7";
    src: url("../fonts/Namecat.ttf");
  }
  @font-face {
    font-family: "Font 8";
    src: url("../fonts/Road Racer Demo.ttf");
  }
  @font-face {
    font-family: "Font 9";
    src: url("../fonts/Something Unfriendly Demo.otf");
  }
  #alert-box {
    animation: smoothPopUp 0.2s ease;
    border-radius: 5px;
    height: 100px;
    margin: 0 auto;
    max-width: 500px;
    position: fixed;
    text-align: center;
    left: 5px;
    right: 5px;
    top: 110px;
    transition: 4s ease-in-out;
    width: 90%;
  }
  @keyframes smoothPopUp {
    0% {
      top: 20px;
    }
    100% {
      top: 110px;
    }
  }
  #alert-box span {
    color: rgb(132, 108, 86);
    font-weight: 600;
    text-shadow: 0 2px 3px rgb(0, 0, 0);
    z-index: 1;
  }
  #alert-box-image {
    left: -29px;
    position: absolute;
    top: -47px;
    width: 70px;
    z-index: -1;
  }
  #select-option {
    border: 2px solid rgb(132, 108, 86);
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    outline: none;
    text-shadow: 0 2px 3px rgb(0, 0, 0);
    width: auto;
  }
  #select-option option {
    color: rgb(132, 108, 86);
  }
  #main-container {
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: space-evenly;
    min-height: 600px;
    width: 100%;
  }
  #user-textareas {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #user-textareas textarea {
    border: none;
    border-radius: 5px;
    color: rgb(132, 108, 86);
    font-size: 20px;
    height: 200px;
    margin: 10px 0;
    max-width: 500px;
    outline: none;
    padding: 5px 5px;
    resize: none;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    width: 90%;
  }
  #user-buttons {
    flex-direction: row;
    max-width: 500px;
    width: 100%;
  }
  .buttons {
    border: 2px solid rgb(132, 108, 86);
    border-radius: 5px;
    color: rgb(132, 108, 86);
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    margin: 0 auto;
    min-width: 80px;
    overflow: hidden;
    padding: 0 5px;
    text-shadow: 0 2px 3px rgb(0, 0, 0);
    width: auto;
  }
  #footer-container {
    align-items: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    width: 100%;
  }
  #author-container span {
    text-decoration: underline;
  }
  #social-media-container {
    height: auto;
    text-align: center;
    width: 100%;
  }
  #social-media-container a {
    margin: 0 20px;
  }
}

/*# sourceMappingURL=compiled.css.map */
