$background-image: '../images/background.jpg'
$color-semi-black: rgb(48, 48, 48)
$color-transparent: rgba(31, 31, 31, 0.249)
$color-gold: rgb(132, 108, 86)
$color-black: rgb(0, 0, 0)

*
  box-sizing: border-box
  color: $color-gold
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-size: 100%
  margin: 0
  padding: 0
  z-index: 0

html
  scroll-behavior: smooth

body
  background: url($background-image) no-repeat
  background-position: center
  background-size: cover
  backdrop-filter: blur(5px)